<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Login page</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="../static/css/account.css">
        <link rel="stylesheet" href="../static/css/general.css">
        <link rel="stylesheet" href="../static/css/account-navbar.css">
        <!--<link rel="stylesheet" href="{% static 'css/general.css'%}">
        <link rel="stylesheet" href="{% static 'css/general.css'%}">
        <link rel="stylesheet" href="{% static 'css/account.css'%}">-->
        
    </head>
    <body onload="welcome()">
        
        <script>
            function welcome(){
                var welcomeDiv = document.getElementById("Welcome");
                var profileDiv = document.getElementById("Profile");
                var schedualDiv = document.getElementById("Schedual");
                var campDiv = document.getElementById("Camps");
                profileDiv.style.display = "none";
                schedualDiv.style.display = "none";
                welcomeDiv.style.display = "flex";
                campDiv.style.display = "none";
                return;
            }
            function all2none(){
                var welcomeDiv = document.getElementById("Welcome");
                var profileDiv = document.getElementById("Profile");
                var schedualDiv = document.getElementById("Schedual");
                var campDiv = document.getElementById("Camps");
                profileDiv.style.display = "none";
                schedualDiv.style.display = "none";
                welcomeDiv.style.display = "none";
                campDiv.style.display = "none";
            }
            function swap2profile() {
                var profileDiv = document.getElementById("Profile");
                all2none();
                profileDiv.style.display = "flex";
            }
            function swap2schedual() {
                var schedualDiv = document.getElementById("Schedual");
                all2none();
                schedualDiv.style.display = "flex";
            }
            function swap2camps() {
                var campDiv = document.getElementById("Camps");
                all2none();
                campDiv.style.display = "flex";
            }
            function swap2contact(){
                all2none();
            }
        </script>
        <header>
            <img src="../static/img/whiteLogoNoBG.png">
            <div class="headline"><h1>Litomcamp</h1>
                </div>
        </header>
        <main>
            <nav>
                <ul>
                    <li id="nav-profile" onclick="swap2profile()">Profil</li>
                    <li id="nav-schedual" onclick="swap2schedual()">Rozvrh</li>
                    <li><button onclick="swap2contact()">Kontakty</button></li>
                    <li id="nav-camps" onclick="swap2camps()">Tábory</li> 
                    {% if role >= 1 %}
                    <!-- for leader-->
                    <li>správa akcí</li>
                {% endif %}
        
                {% if role >= 2 %}
                    <!-- for econom -->
                    <li>Platby</li>
                {% endif %}
        
                {%if  role >= 3 %}
                    <!-- for Admin/heads -->
                    <li>Správa členů</li>
                {% endif %}
                </ul>
                <form method="post" action="/logout">
                    {% csrf_token %}
                    <button type="submit">Logout</button>
                  </form>
            </nav>
            <div class="content">
                <div class="welcome" id="Welcome">
                    <h1>Vítej v Litomcampu</h1><br>
                    <h2>Uspěšně jste se přihlásili k účtu {{email}} jako {{fname}}</h2>
                </div>
                <div class="profile" id="Profile">
                     <h1>Informace o Profilu:</h1>
                    <div class="R1">
                        <!-- <svg xmlns="http://www.w3.org/2000/svg" height="5em" viewBox="0 0 448 512"><!--! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><!--<path d="M224 256A128 128 0 1 0 224 0a128 128 0 1 0 0 256zm-45.7 48C79.8 304 0 383.8 0 482.3C0 498.7 13.3 512 29.7 512H418.3c16.4 0 29.7-13.3 29.7-29.7C448 383.8 368.2 304 269.7 304H178.3z"/></svg>-->
                         <div class="clan"><h2>Rodina Novotných</h2></div>
                        
                        <div class="stav"> <h3>Stav členství:</h3> <p>ZAPLACENO</p></div>
                    </div>
                    <div class="R2">
                       
                        <div><h3>Email:</h3> lorem@ipsum.cz</div>
                        <div><h3>Telefon:</h3> 777 888 999</div>
                    </div>
                    <div class="R3">
                        <div><h3>Addresa:</h3>Jiřího z Poděbrad 184/5</div>
                        <div><h3>Město:</h3> Litoměřice</div>
                    </div>
                    <div class="R4">
                        <div><h3>Dítě:</h3>Pepík Novotný</div>
                        <div><h3>Narozen:</h3> 18.9.2009</div>
                        <div><h3>Přezdívka:</h3> Bilbo</div>
                    </div>
                    <div class="R4">
                        <div><h3>Dítě:</h3>Adéla Novotná</div>
                        <div><h3>Narozen:</h3> 2.1.2011</div>
                        <div><h3>Přezdívka:</h3> </div>
                    </div>
                    <div class="changes">
                        <button type="submit">Upravit</button>
                    </div>
                   
                </div>
                <div class="schedual" id="Schedual">
                    <h2>Časový plán vašich aktivit </h2>
                    <div class="timetable">
                        <h2>Přihlášené aktiv,ity:</h2>
                        <div class="cal">  
                            <section class="table__header">
                                <h1>Seznam všech akcí</h1>
                                <table class="activity-table">
                                    <thead>
                                        <tr>
                                            <th> Aktivita </th>
                                            <th> Místo Srazu </th>
                                            <th> Datum </th>
                                            <th> Přihlášení </th>
                                            <th> Další info </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td> Bitva o Helfenburk</td>
                                            <td> Horní nádraží Litoměřice </td>
                                            <td class="date"> 14.&nbspříjna&nbsp2023&nbspod&nbsp10:00 </td>
                                            <td>Přihlášen</td>
                                            <td> S sebou: pohorky, teplé oblečení, svačinu na celý den, pití, pláštěnku. 45 Kč na  vlak a dobrou náladu</td>
                                        </tr>
                                        <tr>
                                            <td>Výlet na Radobýl</td>
                                            <td> Klubovna Litomíci </td>
                                            <td class="date"> 20.&nbspříjna&nbsp2023&nbspod&nbsp9:15 </td>
                                            <td>nepřihlášen</td>
                                            <td> S sebou: pohorky, teplé oblečení, svačinu na celý den, pití, pláštěnku a dobrou náladu</td>
                                        </tr>
                                        <tr>
                                            <td>Oddílovka</td>
                                            <td> Klubovna Litomíci </td>
                                            <td class="date"> 27.&nbspříjna&nbsp2023&nbspod&nbsp9:15 </td>
                                            <td>Nepřihlášen</td>
                                            <td> S sebou: Uzlovačku, zápisník, kámoše na soutěž.Nezapomeňte že budeme nakonci probírat tábor, takže porsíme rodiče, aby na konci počítali s 5-10 min zpoždění.</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </section>
                        </div>
                    </div>
                </div>
                <div class="camps" id="Camps">
                    <h1>Vyberty si z nabídky našich táborů</h1><br>
                    <div class="board">
                        <div class="card">
                            <div class="inner-card">
                                <div class="front autmn">
                                    <h2>Podzimní tábor</h2>
                                    <button>Mám Zájem</button>
                                </div>
                                <div class="back">
                                    <h2>Janov nad Nisou</h2>
                                    <p class="description">
                                    Pětidenní tábor v malebné vesničce v horách. Ubytování v Asociační chalupě. Program zahrnuje výlety do okolí Bedřichova, týmové hry a odpočinek od školních povinností.
                                    </p>
                                    <div class="data-line">
                                        <div class="data">
                                            <h3>1500 Kč</h3><p>Cena</p></div>
                                        <div class="data"><h3>10/28</h3><p>Místa</p></div>
                                        <div class="data"><h3>Společná</h3><p>Doprava</p></div>
                                    </div>
                                    <div class="row">
                                        <button>Přihlásit se</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="inner-card">
                                <div class="front spring">
                                    <h2>Jarní tábor</h2>
                                    <button>Mám Zájem</button>
                                </div>
                                <div class="back">
                                    <h2>Výprava Sloup v Čechách</h2>
                                    <p>
                                    Pětidenní tábor do pískovcových skal. Ubytování v Asociační chalupě. Program zahrnuje výlety do okolí Sloupu, zimní radovánky a odpočinek od školních povinností.
                                    </p>
                                    <div class="data-line">
                                        <div class="data">
                                            <h3>1500 Kč</h3><p>Cena</p></div>
                                        <div class="data"><h3>0/28</h3><p>Místa</p></div>
                                        <div class="data"><h3>Vlastní</h3><p>Doprava</p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <button>Přihlásit se</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>                                          
        </main>
        <footer>
            <div>
                <h3>Turistický oddíl mládeže Čr LITOMÍCI č.oddílu: 21205</h3><br>
                <p>
                    Dukelské kasárny budova č. 24, Na Vinici<br>
                    412 01 Litoměřice, Česká republika, EU<br>
                    <br>
                    tel. +420 702 210 101<br>
                    tel. +420 776 469 914<br>
                    turistaklitomici@gmail.com
                </p>
            </div>
        </footer>
    </body>
</html>