header{
    width: 100%;
    max-height: 16vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    color: #f5f5f5;
    background: #13243b;
}
header img{
    width: auto ;
    max-height:  15vh;
    justify-self: left;
}

header .headline{
    display: inline-flex;
    justify-content: space-between;
    justify-self: left;
    width: 90%;
    flex-wrap: wrap;
}

header .headline ul li:hover{
    background: black;
}
main{
    height: auto;
    min-height: inherit;
    width: 100%;
    height: auto;
}
.content{
    display: flex;
    flex-direction: column;
    width: 75%
}
.welcome{
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    height: 80vh;
}
.profile{
    width: 100%;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center
    
}
.profile .R1{
    display: flex;
    justify-content: space-between;
    width: 85%;
}
.profile h1{
    font-size: xxx-large;
    border-bottom: 5px solid black;
}
.profile .clan{
    font-size: x-large;
    display: flex;
    align-items: center;
}
.profile h2{
    padding: 0;
    margin: 0
}
.profile .R1 p{
    color: limegreen;
}
.profile .R2{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}
.profile .R2 div{
    width: 33%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.profile .R3{
    display: flex;
    justify-content:space-evenly;
    width: 100%;
}
.profile .R3 div{
    width: 33%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.profile .R4{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}
.profile .changes{
    width: 100%;
    min-height:15vh ;
    display: flex;
    justify-content: center;
    align-items: center;
}
main .schedual{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.schedual .timetable{
    display: flex;
    flex-direction: column;
    width: 100%;

}
.cal{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.activity-table {
    width: 100%;
     border-collapse: separate; /* Ensure cells have independent borders */
    border-spacing: 1rem 0; 
    margin: 2% 0 2% 0;
    column-gap: 1rem;
}
.activity-table th{
    border: none; 
    padding: 0% 0% 0% 0%;
    text-align: left;
    column-gap: 1rem;
}
 .activity-table td {
    border: none; 

    text-align: left;
}
.activity-table th {
    background-color: #f2f2f2;
    
}

.activity-table tr:nth-child(even) {
    background-color: #f2f2f2;
}

.activity-table tr:hover {
    background-color: #e0e0e0;
}

main nav{
    width: 20%;
    height: inherit;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background: #15293c;
    font-size: larger;
    color:  #f5f5f5;
    
}
nav ul{
    list-style: none;
    width: 100%;
    margin: 0;
    padding: 0;
}
main nav ul li{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 3rem;
    width: 100%;
}
main nav ul li button{
    background: none;
    border: none;
    color: inherit;
    font-size: inherit;
    font-family: inherit;
}
